{% extends "main.html" %}
{% block head %}
	<title>Four Oh Four</title>
	<script>
    	var user = {{ userAsJson()|safe }};
    </script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<h1>404 Not Found</h1>
		<p><em>We could be heroes</em></p>
		<p>&nbsp;</p>
		<p><a href="..">Home</a></p>
		<p><a href="manage">Manage Menu</a></p>
		<p><a href="discuss">Ask for Help</a></p>
        <p><a href="discuss">Request a Feature</a></p>
        <p><a href="logout">Log Out</a></p>
	</div>
</div>
{% endblock %}
