{% raw %}
<div ng-controller="items">
	<h2>Add Item</h2>

	<div class="dropdown form-group">
	  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    {{ item.category.name || "Category" }}
	    <span class="caret" ng-hide="item.category"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  	<li ng-repeat="category in categories" ng-click="item.category = category"><a href="manage#">{{ category.name }}</a></li>
	  </ul>
	</div>

	<div class="form-group">
		<label for="name">Item</label>
		<input type="text" id="name" class="form-control" ng-model="item.name">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" id="description" class="form-control" ng-model="item.description">
	</div>
	<div class="form-group">
		<label for="price">Price</label>
		<input type="text" id="price" class="form-control" ng-model="item.price">
	</div>

	<div ng-repeat="option in options track by $index" class="form-horizontal">
		<br>
		<h6 class="text-center">Option {{$index + 1}}</h6>
		<div class="form-group">
			<label for="optionname" class="col-md-3 control-label">Name</label>
			<div class="col-md-9">
				<input type="text" id="optionname" class="form-control" ng-model="item['option' + $index].name">
			</div>
		</div>
		<div class="form-group">
			<label for="optiondescription" class="col-md-3 control-label">Description</label>
			<div class="col-md-9">
				<input type="text" id="optiondescription" class="form-control" ng-model="item['option' + $index].description">
			</div>
		</div>
		<div class="form-group">
			<label for="optionprice" class="col-md-3 control-label">Price</label>
			<div class="col-md-9">
				<input type="text" id="optionprice" class="form-control" ng-model="item['option' + $index].price">
			</div>
		</div>
	</div>

	<button class="btn btn-default" ng-click="addOption()">Add Option</button>

	<button class="btn btn-primary" ng-click="save()">Save Item</button>

</div>
{% endraw %}
