{% extends "main.html" %}
{% block head %}
	<title>Menu</title>
	<script>
    	var user = {{ userAsJson()|safe }};
    	var restaurantName = '{{ restaurantName }}';
    </script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <base href="/">
{% endblock %}
{% block body %}
	<body ng-app="home">
		<div ng-controller="home">
			<div style="overflow-x: hidden;">
    

				  <nav class="navbar navbar-default" role="navigation">
				        <div class="container">
				            <div class="navbar-header">
				            </div>
				            <div id="navbar">
				                <ul class="nav navbar-nav">
				                    <li><a href="discuss">Ask for Help</a></li>
				                    <li><a href="discuss">Request a Feature</a></li>
				                    <!-- <li><a href="discuss">Read the Manual</a></li> -->
				                </ul>
				                <ul class="nav navbar-nav navbar-right" style="margin-left: 30px;">
				                    <li><a href="manage">Manage your Menu</a></li>
				                </ul>
				            </div>
				        </div>
				    </nav>

				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<h1 class="text-center">Superhero Menu</h1>
							<p class="text-center" style="font-size: 200%">Menus weren't meant to sit around</h2>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h2>No more PDFs</h2>
							<p>Static menus suck. You can't search them, reorganize them, filter them, or really do anything. All they do is sit there. No more.</p>
						</div>
						<div class="col-md-4">
							<h2>Kill Allergens</h2>
							<p>If you have an allergy, you shouldn't have to step around a minefield of a menu to feel safe. Filter out common allergy causes and remove your worries.</p>
						</div>
						<div class="col-md-4">
							<h2>Know Thyself</h2>
							<p>Find out exactly what you're getting into. No more "prices are seasonal"—just look at the current price. Restaurateurs: find out what your customers want and when. Deliver the best.</p>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row col-md-4 col-md-offset-4">
						<a class="btn btn-primary center-block" href="signup">Sign Up</a>
					</div>
				</div>

			</div>
		</div>
	</body>
{% endblock %}
