{% extends "main.html" %}
{% block head %}
	<title>Login</title>
{% endblock %}
{% block body %}
	<body>
		<div class="container">
			<div class="col-md-4 col-md-offset-4">
				<div style="margin-top: 20px"></div>
		      <form class="form-signin" action="" method="post">
		      {% if request.args.get('alert') %}
		      	<div class="alert alert-danger alert-dismissible" role="alert">
		      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      		{% if request.args.get('alert') == 'usernameexists' %} This Username Already Exists
		      		{% else %} An Error Occurred
		      		{% endif %} 
		      	</div>
		      {% endif %}
		        <h2 class="form-signin-heading">Great to see you!</h2>
		        <div class="form-group">
					<label for="username">Username</label>
					<input type="text" name="username" value="{{ request.args.get('username') if request.args.get('username') }}" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control">
				</div>
				<div class="form-group">
					<label class="btn">
						<input type="checkbox" name="remember" value="true"> Remember Me
					</label>
				</div>
		        <button class="btn btn-primary center-block" type="submit">Log In</button>
		      </form>
	      </div>
	    </div>
	</body>
{% endblock %}







