{% extends "main.html" %}
{% block head %}
	<title>Menu Manager</title>
	<script>
    	var user = {{ userAsJson()|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/manage.js') }}"></script>
    <base href="/">
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/manage.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	<body ng-app="manager">
		<!-- <div id="wrapper">
			{# {% include "sidebar.html" %} #}
        	<div id="page-content-wrapper">
        		{# {% include "sidebarexpander.html" %} #} -->
				<div class="container">
					<br>
					<div class="col-md-12">
    				<div class="btn-group" role="group" aria-label="..." ng-controller="toolbar">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					      General
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <!-- <li class="dropdown-header">Items</li> -->
					      <li><a href="javascript:void(0)" data-toggle="modal" data-target="#additem">Add Item</a></li>
					      <li><a href="javascript:void(0)" data-toggle="modal" data-target="#categories">Edit Categories</a></li>
					      <li><a href="javascript:void(0)" data-toggle="modal" data-target="#info">Edit Information</a></li>
					    </ul>
					  </div>

					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					      Style
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <!-- <li><a href="javascript:void(0)">Headers</a></li>
					      <li><a href="javascript:void(0)">Colors</a></li> -->
					      <li><a href="javascript:void(0)" data-toggle="modal" data-target="#style">Edit Style</a></li>
					    </ul>
					  </div>

					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					      Action
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li><a href="..">Home Page</a></li>
					      <li><a href="discuss">Ask for Help</a></li>
					      <li><a href="discuss">Request a Feature</a></li>
					      <li><a href="logout">Log Out</a></li>
					    </ul>
					  </div>

					  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#embed">Embed</button>
					</div>

					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#items">Add Item</button>


					<div>

					<br><br>
					<div class="col-md-12">
						{% include "iframe.html" %}
					</div>

					{% for modal in ['embed', 'style', 'info', 'additem', 'categories'] %}
				        	<div class="modal fade" id="{{ modal }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal }}" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <!-- <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <!- - <h4 class="modal-title" id="myModalLabel">{{ modal[1] }}</h4>
							      </div> -->
							      <div class="modal-body">
							      	{% include modal + '.html' %}
							      </div>
							    </div>
							  </div>
							</div>
				    {% endfor %}

					<!-- <div class="row">
						<div class="col-md-4">
			    			{ % include "additem.html"  %}
			    		</div>
			    		<div class="col-md-4">
			    			{ % include "categories.html"  %}
			    		</div>
			    		<div class="col-md-4">
			    			{ % include "embed.html"  %}
			    		</div>
			    	</div>
			    	<div class="row">
			    		<div class="col-md-4">
			    			{ % include "style.html"  %}
			    		</div>
			    		<div class="col-md-4">
			    			{ % include "info.html" % }
			    		</div>
			    		<div class="col-md-4">
			    			<h2>Links</h2>
			    			<p><a href="..">Home</a></p>
			    			<p><a href="discuss">Ask for Help</a></p>
					        <p><a href="discuss">Request a Feature</a></p>
					        <p><a href="logout">Log Out</a></p>
			    		</div>
			    	</div>
		    	</div> -->

		   <!-- </div>
    	</div> -->
    	<div style="height: 30px"></div>
	</body>
	
{% endblock %}
