{% extends "main.html" %}
{% block head %}
	<title>Menu Viewer</title>
	<script>
    	var user = {{ userAsJson()|safe }};
    	var restaurantName = '{{ restaurantName }}';
    </script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <base href="/">
{% endblock %}
{% block body %}
	{% raw %}
	<body ng-app="menu">
		<div ng-controller="menu">
			<div class="container-fluid">
				<h1 class="text-center">{{ menu.name }}</h1>
				<div class="col-md-6" ng-repeat="category in menu.categories">
					<h2>{{ category.name }}</h2>
					<p>{{ category.description }}</p>
					<div ng-repeat="item in category.items">
						<h3>{{ item.name }}</h3>
						<p>{{ item.description }}</p>
						<p ng-show="item.price">${{ item.price }}</p>
						<div ng-repeat="option in item.options">
							<h4>{{ option.name }}</h4>
							<p>{{ option.description }}</p>
							<p>${{ option.price }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	{% endraw %}
{% endblock %}
