{% raw %}
<div ng-controller="view" style="padding: 20px; padding-left: 30px"  ng-style="{'background-color': L('general', 'Background Color')}">
	<div class="container" style="width: 100%" ng-style="{
				color: L('general', 'Text Color'),
				'font-family': L('general', 'Font')
			}" >

				<h1 class="text-center outlineonhover" ng-click="editTitle(menu.name)" ng-style="{
						'font-size': L('title', 'Font Size'),
						color: L('title', 'Text Color'),
						'font-family': L('title', 'Font')
					}">
					{{ menu.name }}
				</h1>


				<div class="row" ng-repeat="category in menu.categories">
					<div class="outlineonhover col-md-12" ng-click="editCategory(category)">
						<h2 ng-style="{
							'font-size': L('category', 'Header Font Size'),
							color: L('category', 'Header Text Color'),
							'font-family': L('category', 'Header Font')
						}">{{ category.name }}</h2>
						<p ng-style="{
							'font-size': L('category', 'Description Font Size'),
							color: L('category', 'Description Text Color'),
							'font-family': L('category', 'Description Font')
						}">{{ category.description }}</p>
					</div>

					<div class="col-md-6 outlineonhover" ng-repeat="item in category.items" ng-click="edit(item, category, item.options)">
						<h3 ng-style="{
						'font-size': L('item', 'Header Font Size'),
						color: L('item', 'Header Text Color'),
						'font-family': L('item', 'Header Font')
					}">{{ item.name }}</h3>

						<p class="col-md-10" ng-style="{
						'font-size': L('item', 'Description Font Size'),
						color: L('item', 'Description Text Color'),
						'font-style': L('item', 'Description Style'),
						'font-family': L('item', 'Description Font')
					}">{{ item.description }}</p>
						<p class="col-md-2" ng-show="item.price" ng-style="{
						'font-size': L('item', 'Price Font Size'),
						color: L('item', 'Price Text Color'),
						'font-family': L('item', 'Price Font')
					}">{{ getElement('general', "Currency Symbol") }}{{ item.price }}</p>

						<div class="row" ng-repeat="option in item.options track by $index">
							<p class="col-md-5" ng-style="{
						'font-size': L('option', 'Header Font Size'),
						color: L('option', 'Header Text Color'),
						'font-family': L('option', 'Header Font')
					}">{{ option.name }}</p>
							<p class="col-md-5" ng-style="{
						'font-size': L('option', 'Header Font Size'),
						color: L('option', 'Header Text Color'),
						'font-family': L('option', 'Header Font')
					}">{{ option.description }}</p>
							<p class="col-md-2" ng-style="{
						'font-size': L('option', 'Price Font Size'),
						color: L('option', 'Price Text Color'),
						'font-family': L('option', 'Price Font')
					}">{{ getElement('general', "Currency Symbol") }}{{ option.price }}</p>
						</div>
					</div>
				</div>
				<br>

				<br><hr><br>
				<div class="outlineonhover col-md-12" data-toggle="modal" data-target="#info">
					<h2 class="text-center" ng-show="menu.info.length > 0">Information</h2>
					<div class="col-md-6" ng-repeat="item in menu.info track by $index">
						<h3 ng-style="{
							'font-size': L('info', 'Header Font Size'),
							color: L('info', 'Header Text Color'),
							'font-family': L('info', 'Header Font')
						}">{{ item.name }}</h3>
						<p ng-hide="isArray(item.value)">{{ item.value }}</p>
						<div ng-show="isArray(item.value)" ng-repeat="pair in item.value track by $index">
							<p class="col-md-6" ng-style="{
							'font-size': L('info', 'Font Size'),
							color: L('info', 'Text Color'),
							'font-family': L('info', 'Font')
						}">{{ pair.name }}</p>
							<p class="col-md-6" ng-style="{
							'font-size': L('info', 'Font Size'),
							color: L('info', 'Text Color'),
							'font-family': L('info', 'Font')
						}">{{ pair.value }}</p>
						</div>
					</div>
				</div>
			</div>
</div>
{% endraw %}
